<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studysiba.mapper.GroupMapper">

	<select id="getGroupCount" resultType="int">
		select count(*) from groupmember where id=#{id}
	</select>
	
	<select id="getGroupList" resultType="com.studysiba.domain.group.GroupVO">
		select groupmember.no, groupmember.gNo, groupmember.id, studyboard.gName, studyboard.divide, studyboard.address, studyboard.toPer, studyboard.fromPer, studyboard.toTime, studyboard.fromTime, studyboard.person, groupCount.count, upload.uuid as fileName  from groupmember
		left join studyboard
		on groupmember.gno = studyboard.no
		left join member
		on groupmember.id = member.id
		left join ( select gNo, count(*) as count from groupmember group by gNo ) groupCount
		on groupcount.gNo = groupmember.gNo
		left join (select * from upload where type="study") upload
		on upload.uNo = groupmember.gNo
		where groupmember.id=#{id}
		order by groupmember.gDate DESC
		limit #{startRow},#{pageSize}
	</select>
	
	<select id="view" resultType="com.studysiba.domain.group.GroupVO">
		select groupmember.no, groupmember.gNo, groupmember.gDate, 
		studyboard.id, studyboard.gName, studyboard.lat, studyboard.lng, studyboard.address, studyboard.toPer, studyboard.fromPer, 
		studyboard.toTime, studyboard.fromTime, member.nick  from groupmember
		left join studyboard
		on groupmember.gNo = studyboard.no
		left join member
		on studyboard.id = member.id
		where groupmember.id=#{id} AND groupmember.gNo = #{gNo}
	</select>
	
	<select id="getGroupMessageList" resultType="com.studysiba.domain.group.GroupMessageVO">
		select groupmessage.no, groupmessage.gNo, groupmessage.id, groupmessage.content, date_format(groupmessage.gDate, '%Y-%m%d %H:%i') as gDate,
		member.nick, member.proFile from groupmessage
		left join member
		on groupmessage.id = member.id
		where groupmessage.gNo = #{gNo}
		order by groupmessage.gDate ASC
	</select>
	
	<insert id="sendGroupMessage">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			select coalesce(max(no+1),1) as no from groupmessage
		</selectKey>
		insert into groupmessage(no, gNo, id, content, gDate)
		values ( #{no}, #{gNo}, #{id}, #{content}, now() )
	</insert>
	
	<select id="viewGroupMessage" resultType="com.studysiba.domain.group.GroupMessageVO">
		select groupmessage.no, groupmessage.gNo, groupmessage.id, groupmessage.content, date_format(groupmessage.gDate, '%Y-%m%d %H:%i') as gDate,
		member.nick, member.proFile from groupmessage
		left join member
		on groupmessage.id = member.id
		where gNo = #{gNo}
		order by gDate ASC
	</select>
	
	<delete id="secession">
		delete from groupmember
		where id=#{id} AND gNo=#{gNo}
	</delete>
	
	<delete id="delete">
		delete from studyboard
		where id=#{id} AND no=#{gNo}
	</delete>
	
</mapper>