<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.studysiba.mapper.MemberMapper">
  
  <insert id="insertTest">
  	<selectKey keyProperty="no" order="BEFORE" resultType="long">
  		select max(no+1) from test
  	</selectKey>
  	insert into test(no,text) values( #{no},#{text})
  </insert>
  
  <select id="getUserInfomation" resultType="com.studysiba.domain.member.MemberVO">
  	select no, type, auth, id, sId, pass, nick, eMail, proFile, 
  	DATE_FORMAT(cDate, '%Y년 %m월 %d일 %H시 %i분') as cDate, 
  	DATE_FORMAT(mDate, '%Y년 %m월 %d일 %H시 %i분') as mDate  
  	from member where id = #{id}
  </select>
  
  <insert id="socialJoin">
  	<selectKey keyProperty="no" order="BEFORE" resultType="long">
  		select coalesce(max(no+1),1) as no from member
  	</selectKey>
  	insert into member
  	values ( #{no}, #{type}, #{auth}, #{id}, #{sId}, #{pass}, #{nick}, #{eMail}, #{proFile}, now(), now() )
  </insert>
  
  <select id="valueCheckId" resultType="String">
  	select id from member where id = #{value}
  </select>
  
  <select id="valueCheckNick" resultType="String">
  	select nick from member where nick = #{value}
  </select>
  
  <select id="valueCheckEmail" resultType="String">
  	select eMail from member where eMail = #{value}
  </select>
  
  <select id="valueCheckPass" resultType="String">
  	select pass from member where id =#{id}
  </select>
  
  <insert id="insertVisitLog">
  	<selectKey keyProperty="no" resultType="long" order="BEFORE">
    	select coalesce(max(no+1),1) as no from visit
  	</selectKey>
  		insert into visit(no, id, vDate) values(#{no}, #{id}, now())
  </insert>
  
  <update id="updateConnectLog">
  	update member set cDate = now() where id = #{id}
  </update>
  
  <update id="changeNick">
  	update member set nick = #{nick} where id = #{id}
  </update>
  
  <update id="updateProFile">
  	update member set proFile = #{proFile} where id = #{id}
  </update>
  
  <select id="getUserId" resultType="String">
  	select id from member where nick = #{nick}
  </select>
  
  <select id="getUserImage" resultType="String">
  	select proFile from member where id = #{id}
  </select>
  
  <select id="getUserNick" resultType="String">
  	select nick from member where id = #{id}
  </select>
  
  <select id="getConnectList" resultType="com.studysiba.domain.member.MemberVO">
  	select * from member where cDate between now()-interval 1 minute and now()
  </select>
  
  <update id="changPasswrod">
  	update member set pass = #{encodePass} where id = #{id} AND pass = #{currPass}
  </update>
  
  <update id="addConnect">
  	update member set cDate = now() where id = #{id}
  </update>
  
  <select id="getSubInfo" resultType="com.studysiba.domain.member.SubInfoVO">
  	select
        (select count(*) from visit where id=#{id}) visitCount,
        (select count(*) from board where id=#{id}) boardCount,
        (select count(*) from comment where id=#{id}) commentCount
  </select>
  
  </mapper>